@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700|Montserrat:700|Open+Sans:300|Roboto:700");
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

.container::after,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #212121;
}

h3 {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #212121;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Hind", sans-serif, "Open Sans", sans-serif, sans-serif;
  font-size: 14px;
  color: #464646;
  background-color: #DDD9F2;
}

header .header-top {
  background-color: #212429;
  min-height: 276px;
  width: auto;
}

header .header-top .social-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .header-top .social-menu a {
  padding: 10px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

header .header-top .social-menu .center img {
  height: 14px;
  width: auto;
}

header .header-top .social-menu .left {
  margin-right: 80px;
  margin-left: 1px;
}

header .header-top .social-menu .left .mobile-nav-button {
  position: fixed;
  margin: 11px 45px;
  left: 0;
  top: 0;
  z-index: 9999;
  cursor: pointer;
  width: 20px;
  height: 15px;
}

header .header-top .social-menu .left .mobile-nav-button .mobile-nav-button__line {
  width: 100%;
  height: 3px;
  background: #fff;
  position: relative;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

header .header-top .social-menu .left .mobile-nav-button .mobile-nav-button__line:nth-of-type(2) {
  margin: 2px 0;
}

header .header-top .social-menu .left .mobile-nav-button .mobile-nav-button__line--1 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 8px;
  position: absolute;
}

header .header-top .social-menu .left .mobile-nav-button .mobile-nav-button__line--2 {
  display: none;
}

header .header-top .social-menu .left .mobile-nav-button .mobile-nav-button__line--3 {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 8px;
  position: absolute;
}

header .header-top .social-menu .left .mobile-menu {
  display: block;
  max-width: 330px;
  width: 100%;
  left: -100%;
  height: 100vh;
  background: #ccc;
  position: absolute;
  z-index: 9998;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
  top: 0;
  opacity: 0;
}

header .header-top .social-menu .left .mobile-menu ul {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0;
}

header .header-top .social-menu .left .mobile-menu ul li {
  list-style: none;
}

header .header-top .social-menu .left .mobile-menu ul li a {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  letter-spacing: 1px;
}

header .header-top .social-menu .left .mobile-menu ul li a:after {
  content: '';
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  z-index: -1;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

header .header-top .social-menu .left .mobile-menu ul li a:hover {
  color: #fff;
}

header .header-top .social-menu .left .mobile-menu ul li a:hover:after {
  left: 0;
}

header .header-top .social-menu .left .mobile-menu img {
  position: absolute;
  width: 150px;
  display: block;
  left: 50%;
  top: 3rem;
  -webkit-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  transform: translatex(-50%);
  padding: 0;
  text-align: center;
}

header .header-top .social-menu .left .mobile-menu--open {
  position: fixed;
  left: 0;
  opacity: 1;
}

header .header-top .social-menu .left a,
header .header-top .social-menu .right a {
  border-right: 1px solid #3c3c3c;
}

header .header-top .social-menu .left a,
header .header-top .social-menu .right a:first-child {
  border-left: 1px solid #3c3c3c;
}

header .header-top .social-menu .fa {
  color: #fff;
  font-size: 16px;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

header .header-top .social-menu .fa:hover {
  color: #999;
}

header .header-top .social-menu .fa.active {
  color: #999;
}

header .header-top .social-menu .fa-facebook,
header .header-top .social-menu .fa-rss,
header .header-top .social-menu .fa-bars {
  padding: 0 5px;
}

header .header-top .social-menu .fa-twitter,
header .header-top .social-menu .fa-search {
  padding: 0 2px;
}

header .header-top .social-menu .fa-facebook,
header .header-top .social-menu .fa-search {
  font-size: 14px;
}

header .header-bottom {
  width: 100%;
  margin-top: -241px;
}

header .header-bottom .main-slider {
  position: relative;
  background-size: cover;
  max-width: auto;
  min-height: 454px;
}

header .header-bottom .main-slider img {
  width: 1300px;
  height: auto;
}

header .header-bottom .main-slider .main-slider-text {
  position: absolute;
  width: 29%;
  top: 60%;
  left: 100px;
  color: #fff;
}

header .header-bottom .main-slider .main-slider-text .main-slider-description {
  font-family: "Hind", sans-serif;
  letter-spacing: 3px;
}

header .header-bottom .main-slider .main-slider-text .main-slider-title {
  font-family: "Hind", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.signup {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 5px 20px;
}

.signup .title {
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.signup form input {
  background-color: #fff;
  border: none;
  padding: 14px 20px;
  margin: 0 20px;
  min-width: 350px;
}

.signup button {
  background-color: #212121;
  color: #fff;
  border: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  padding: 0 60px;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.signup button:hover {
  background-color: black;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0;
}

.content .main-part {
  width: 75%;
  margin-right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content .main-part .artical {
  position: relative;
  padding-bottom: 50px;
}

.content .main-part .artical .artical-icon-printerest {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  height: 44px;
  background-image: url(../img/printerest-icon.png);
  cursor: pointer;
  opacity: .5;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.content .main-part .artical .artical-icon-printerest:hover {
  opacity: 1;
}

.content .main-part .artical .icon-pic {
  position: absolute;
  left: 455px;
  top: 457px;
  width: 44px;
  height: 44px;
  background-image: url(../img/picture-icon.png);
  cursor: pointer;
}

.content .main-part .artical .artical-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 30px 50px;
}

.content .main-part .artical .artical-text .upper-title {
  text-transform: uppercase;
  color: #999;
  padding-bottom: 10px;
}

.content .main-part .artical .artical-text .title {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

.content .main-part .artical .artical-text .lower-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding-bottom: 20px;
}

.content .main-part .artical .artical-text .lower-title p {
  color: #999;
  cursor: pointer;
}

.content .main-part .artical .artical-text .description {
  line-height: 28px;
}

.content .main-part .artical .teg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  cursor: pointer;
}

.content .main-part .deco-line {
  width: 100%;
  height: 1px;
  background-color: #999;
  margin: 20px 0;
}

.content .main-part .users-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 50px;
}

.content .main-part .users-info .left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.content .main-part .users-info .left p {
  color: #999;
  cursor: pointer;
}

.content .main-part .users-info .left .fa {
  cursor: pointer;
}

.content .main-part .users-info .left .comments {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.content .main-part .users-info .left .like {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.content .main-part .users-info .right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.content .main-part .users-info .right .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.content .main-part .users-info .right .social .fa {
  margin: 0 10px;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
  cursor: pointer;
}

.content .main-part .users-info .right .social .fa:hover {
  color: #999;
}

.content .main-part .mini-post {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
}

.content .main-part .mini-post .left {
  margin: 0 0 -8px 0;
}

.content .main-part .mini-post .left img {
  min-height: 160px;
  min-width: 160px;
  cursor: pointer;
  opacity: .9;
}

.content .main-part .mini-post .right {
  margin: 15px 20px;
}

.content .main-part .mini-post .right .title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.content .main-part .mini-post .right .title .name {
  letter-spacing: 1px;
  cursor: pointer;
}

.content .main-part .mini-post .right .descr {
  cursor: pointer;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.content .main-part .mini-post .right .descr:hover {
  color: #eee;
}

.content .main-part .recomended {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content .main-part .recomended .title {
  padding: 30px 20px 20px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content .main-part .recomended .cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.content .main-part .recomended .cards .card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 20px 20px 30px;
}

.content .main-part .recomended .cards .card .pic img {
  max-width: 200px;
  max-height: 200px;
  opacity: .8;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
  cursor: pointer;
}

.content .main-part .recomended .cards .card .pic img:hover {
  opacity: 1;
}

.content .main-part .recomended .cards .card .descr h3 {
  text-transform: uppercase;
  cursor: pointer;
}

.content .main-part .socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 37px 0;
}

.content .main-part .socials .social-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.content .main-part .socials .social-btn:hover {
  background-color: #eee;
}

.content .main-part .socials .social-btn .left {
  background-color: #000;
  padding: 10px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.content .main-part .socials .social-btn .left .fa {
  color: #fff;
  font-size: 20px;
}

.content .main-part .socials .social-btn .right {
  padding: 10px 40px;
}

.content .main-part .socials .social-btn .right p {
  cursor: pointer;
}

.content .main-part .socials .social-btn .right:hover {
  background-color: #eee;
}

.content .main-part .block-quote {
  position: relative;
  margin-bottom: 25px;
  margin-top: -10px;
}

.content .main-part .block-quote .quote-pic {
  -o-object-fit: cover;
  object-fit: cover;
  width: auto;
  max-height: 200px;
  overflow: hidden;
}

.content .main-part .block-quote .quote-pic img {
  opacity: .8;
}

.content .main-part .block-quote .icon-pic {
  position: absolute;
  left: 455px;
  top: -18px;
  width: 44px;
  height: 44px;
  background-image: url(../img/quote-icon.png);
  cursor: pointer;
}

.content .main-part .block-quote .quote-text {
  position: absolute;
  top: 25%;
  left: 0;
  padding: 0 50px;
  text-align: center;
}

.content .main-part .block-quote .quote-text .description h2 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 20px;
  line-height: 32px;
}

.content .main-part .block-quote .quote-text .title p {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content .main-part .video,
.content .main-part .music {
  padding-top: 50px;
}

.content .main-part .artical.lower-video {
  margin-top: -10px;
  background-color: #fff;
}

.content .main-part .artical.lifestyle {
  background-color: #fff;
  margin: 50px 0;
}

.content .button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content .button .btn-empty {
  background-color: transparent;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  padding: 5px 15px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.content .button .btn-empty:hover {
  color: #212121;
}

.side-part {
  width: 25%;
  height: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.side-part .search {
  position: relative;
}

.side-part .search form input {
  background-color: #DDD9F2;
  border: none;
  padding: 17px 20px;
  margin: 20px;
  min-width: 230px;
}

.side-part .search:after {
  position: absolute;
  content: '';
  top: 20px;
  right: 20px;
  background-image: url(../img/search-icon-side.png);
  width: 50px;
  height: 49px;
  cursor: pointer;
}

.side-part .side-pic {
  max-width: 280px;
  margin: 20px;
  -webkit-transition: opacity .1s ease;
  -o-transition: opacity .1s ease;
  transition: opacity .1s ease;
}

.side-part .side-pic:hover {
  opacity: .9;
}

.side-part .categories {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.side-part .categories .title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #999;
  margin: 0 25px;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.side-part .categories table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 300px;
}

.side-part .categories table tr th {
  border-bottom: 1px solid #DDD9F2;
  border-collapse: collapse;
  text-transform: uppercase;
  padding: 10px 0;
}

.side-part .categories table tr th:first-child {
  text-align: left;
  padding-right: 70px;
  letter-spacing: 2px;
  cursor: pointer;
}

.side-part .categories table tr th:first-child:hover {
  color: #999;
}

.side-part .categories table tr th:last-child {
  text-align: right;
  padding-left: 70px;
}

.side-part .second-side-pic {
  position: relative;
}

.side-part .second-side-pic img {
  max-height: 280px;
  width: auto;
  margin: 40px 20px;
}

.side-part .second-side-pic .title h2 {
  position: absolute;
  top: 65%;
  left: 40px;
  color: #fff;
  -webkit-transition: color .1s ease;
  -o-transition: color .1s ease;
  transition: color .1s ease;
}

.side-part .second-side-pic .title h2:hover {
  color: #DDD9F2;
}

.side-part .posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.side-part .posts .title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.side-part .posts .post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 290px;
  padding: 15px 0;
  border-bottom: 1px solid #DDD9F2;
  margin: 0 25px;
}

.side-part .posts .post .left .pic {
  margin-right: 10px;
}

.side-part .posts .post .left .pic img {
  max-width: 83px;
  max-height: auto;
  opacity: .8;
  cursor: pointer;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.side-part .posts .post .left .pic img:hover {
  opacity: 1;
}

.side-part .posts .post .right .news h3 {
  text-transform: uppercase;
  margin: -5px 0 10px;
  cursor: pointer;
}

.side-part .posts .post .right .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.side-part .posts .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 40px 25px;
}

.side-part .posts .social .fa {
  font-size: 18px;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
  cursor: pointer;
}

.side-part .posts .social .fa:hover {
  color: #999;
}

.side-part .facebook-join {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 5px 25px;
}

.side-part .facebook-join .title {
  background-color: #3c5a98;
  padding: 5px 20px;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  cursor: pointer;
  text-align: center;
}

.side-part .facebook-join .title:hover {
  background-color: #143270;
}

.side-part .facebook-join .title h3 {
  text-transform: uppercase;
  color: #fff;
}

.side-part .facebook-join .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #DDD9F2;
}

.side-part .facebook-join .top .avatar {
  max-width: 50px;
  height: auto;
  cursor: pointer;
  margin: 15px;
}

.side-part .facebook-join .top .right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.side-part .facebook-join .top .right .name {
  margin: 15px 2px 0 5px;
}

.side-part .facebook-join .top .right .fb-like {
  cursor: pointer;
}

.side-part .facebook-join .top .right .fb-like img {
  max-width: 60px;
  height: auto;
  -webkit-transition: opacity .1s ease;
  -o-transition: opacity .1s ease;
  transition: opacity .1s ease;
}

.side-part .facebook-join .top .right .fb-like img:hover {
  opacity: .8;
}

.side-part .facebook-join .middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.side-part .facebook-join .middle .people p {
  margin: 10px 15px;
}

.side-part .facebook-join .middle .people p span {
  color: #297A2A;
  cursor: pointer;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.side-part .facebook-join .middle .people p span:hover {
  color: #79D279;
}

.side-part .facebook-join .bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.side-part .facebook-join .bottom .users {
  padding: 5px 0 15px;
  border-bottom: 1px solid #DDD9F2;
}

.side-part .facebook-join .bottom .users img {
  max-height: 50px;
  width: auto;
  margin-top: -5px;
  cursor: pointer;
  opacity: .8;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.side-part .facebook-join .bottom .users img:hover {
  opacity: 1;
}

.side-part .facebook-join .bottom .plugin {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-size: 12px;
  padding: 15px 20px;
  cursor: pointer;
}

.side-part .facebook-join .bottom .plugin .fa {
  font-size: 14px;
  color: #3c5a98;
}

footer .footer-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 350px;
  width: auto;
  background-color: #212429;
  color: #999;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .footer-top .footer-top-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 55px 0;
}

footer .footer-top .footer-top-items .title h2 {
  color: #fff;
  letter-spacing: 2px;
  padding-bottom: 30px;
}

footer .footer-top .footer-top-items .about {
  margin-right: 20px;
}

footer .footer-top .footer-top-items .about .text {
  padding-bottom: 10px;
}

footer .footer-top .footer-top-items .tweets {
  margin-right: 10px;
}

footer .footer-top .footer-top-items .tweets .post {
  padding: 0  0 10px;
}

footer .footer-top .footer-top-items .tweets .post .posted {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  color: #fff;
  cursor: pointer;
}

footer .footer-top .footer-top-items .tweets .post .post-text p {
  padding-left: 27px;
}

footer .footer-top .footer-top-items .instagram .inst-pics {
  max-width: 600px;
  height: auto;
  margin-top: 5px;
}

footer .footer-top .footer-top-items .instagram .inst-pics img {
  max-width: 122px;
  height: 101px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-top: -5px;
  opacity: .6;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
  cursor: pointer;
}

footer .footer-top .footer-top-items .instagram .inst-pics img:hover {
  opacity: 1;
}

footer .footer-top .footer-top-items .comments .comment {
  padding: 5px 0;
  border-bottom: 1px solid #DDD9F2;
}

footer .footer-top .footer-top-items .comments .comment:last-child {
  border-bottom: none;
}

footer .footer-top .footer-top-items .comments .comment .name {
  color: #fff;
}

footer .footer-top .footer-top-items .comments .comment .name span {
  text-decoration: underline;
  cursor: pointer;
}

footer .footer-bottom {
  background-color: #17191c;
}

footer .footer-bottom .text {
  text-align: center;
}

.scrollup {
  width: 40px;
  height: 40px;
  opacity: .5;
  position: fixed;
  bottom: 30px;
  right: 70px;
  display: none;
  text-indent: -9999px;
  background: url(../img/icon_top.png) no-repeat;
  -webkit-transition: opacity .1s ease;
  -o-transition: opacity .1s ease;
  transition: opacity .1s ease;
}

.scrollup:hover {
  opacity: .7;
}
