$text-font: 'Hind', sans-serif;
$title-font: 'Montserrat', sans-serif;
$light-text-font: 'Open Sans', sans-serif;
$bold-title-font: 'Roboto', sans-serif;

$brand-color: #212429;
$white: #fff;
$title-color: #212121;
$text-color: #464646;
$footer-color-bg: #17191c;
$bg-color: #DDD9F2;
$light-gray: #999;

$black: #000;
