@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700|Montserrat:700|Open+Sans:300|Roboto:700');
@import "_var.scss";

@import "_body.scss";
@import "_header.scss";

// signup
.signup {
	display: flex;
	justify-content: space-between;
	margin: 5px 20px;
	.title {
		line-height: 22px;
		text-transform: uppercase;
		letter-spacing: 3px;
	}
	form input {
		background-color: $white;
		border: none;
		padding: 14px 20px;
		margin: 0 20px;
		min-width: 350px;
	}
	button {
		background-color: $title-color;
		color: $white;
		border: none;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-size: 12px;
		padding: 0 60px;
		cursor: pointer;
		transition: all .2s ease;
		&:hover {
			background-color: ($title-color / 70%);
		}
	}
}
// content
.content {
	display: flex;
	margin: 60px 0;
	.main-part {
		width: 75%;
		margin-right: 20px;
		display: flex;
		flex-direction: column;
		.artical {
			position: relative;
			padding-bottom: 50px;
			.artical-icon-printerest {
				position: absolute;
				top: 0;
				right: 0;
				width: 52px;
				height: 44px;
				background-image: url(../img/printerest-icon.png);
				cursor: pointer;
				opacity: .5;
				transition: opacity .2s ease;
				&:hover {
					opacity: 1;
				}
			}
			.icon-pic {
				position: absolute;
				left: 455px;
				top: 457px;
				width: 44px;
				height: 44px;
				background-image: url(../img/picture-icon.png);
				cursor: pointer;
				}
			.artical-text {
				display: flex;
				flex-direction: column;
				text-align: center;
				padding: 30px 50px;
				.upper-title {
					text-transform: uppercase;
					color: $light-gray;
					padding-bottom: 10px;
				}
				.title {
					text-transform: uppercase;
					letter-spacing: 2px;
					padding-bottom: 20px;
				}
				.lower-title {
					display: flex;
					justify-content: center;
					align-items: baseline;
					padding-bottom: 20px;
					p {
						color: $light-gray;
						cursor: pointer;
					}
				}
				.description {
					line-height: 28px;
				}
			}
		}
		.deco-line {
			width: 100%;
			height: 1px;
			background-color: $light-gray;
			margin: 20px 0;
		}
		.users-info {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 0 50px;
			.left {
				display: flex;
				p {
					color: $light-gray;
					cursor: pointer;
					}
				.fa {
					cursor: pointer;
				}
				.comments {
					display: flex;
					align-items: baseline;
				}
				.like {
					display: flex;
					align-items: baseline;
				}
			}
			.right {
				display: flex;
				.social {
					display: flex;
					align-items: baseline;
					.fa {
						margin: 0 10px;
						transition: color .2s ease;
						cursor: pointer;
						&:hover {
						color: $light-gray;
						}
					}
				}
			}
		}
		.block-quote {
			position: relative;
			.quote-pic {
				img {
					object-fit: cover;
					width: auto;
					min-height: 338px;
					opacity: .8;
				}
			}
			.icon-pic {
				position: absolute;
				left: 455px;
				top: -18px;
				width: 44px;
				height: 44px;
				background-image: url(../img/quote-icon.png);
				cursor: pointer;
				}
			.quote-text {
				position: absolute;
				top: 25%;
				left: 0;
				padding: 0 50px;
				text-align: center;
				.description h2 {
					color: $white;
					text-transform: uppercase;
					letter-spacing: 3px;
					padding-bottom: 20px;
					line-height: 32px;
				}
				.title p {
					color: $white;
					text-transform: uppercase;
					letter-spacing: 2px;
				}
			}
		}
	.video, 
	.music {
			padding-top: 50px;
		}
	.artical.lower-video {
		margin-top: -10px;
		background-color: $white;
	}
	.artical.lifestyle {
		background-color: $white;
		margin: 50px 0;
	}
	}
.button {
	display: flex;
	justify-content: center;
	.btn-empty {
	background-color: transparent;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	padding: 5px 15px;
	display: inline-flex;
	transition: color .2s ease;
	&:hover {
		color: $title-color;
	}
	}
}
}
@import "_side-part.scss";
@import "_footer.scss";
